<div class="img-background">

</div>

<div id="menuHeader">
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div id="barraHeader">
                <div class="btn-toolbar pull-right">

                    <span><a class="menu" href="#"><i class="ion-social-facebook"></i></a></span>
                    <span><a class="menu" href="#"><i class="ion-social-twitter"></i></a></span>
                    <span><a class="menu" href="#"><i class="ion-social-linkedin"></i></a></span>
                    <span><a class="menu" href="#"><i class="ion-social-googleplus"></i></a></span>
                    <span><a class="menu" href="#"><i class="ion-social-instagram"></i></a></span>
                </div>
                <div class="btn-toolbar pull-left hidden-xs">

                    <span><a class="menu" href="#"><i class="glyphicon glyphicon-earphone"></i> +55 11 98196-5307</a></span>
                    <span><a class="menu" href="#"><i class="glyphicon glyphicon-envelope"></i> edilson.a.andrade@gmail.com</a></span>

                </div>
            </div>


        </div>

        <div class="row hidden-xs">
            <div class="col-md-12 col-xs-12 text-center"><label class="me">I'M EDILSON</label></div>
        </div>
        <div class="row visible-xs">
            <div class="col-md-12 col-xs-12 text-center"><label class="me me-small">I'M EDILSON</label></div>
        </div>

        <div class="row visible-xs col-xs-11 col-xs-offset-1">
            <div class="form-group">
                <span><a class="menu" href="#"><i class="glyphicon glyphicon-earphone"></i> +55 11 98196-5307</a></span>
            </div>
            <div class="form-group">
                <span><a class="menu" href="#"><i class="glyphicon glyphicon-envelope"></i> edilson.a.andrade@gmail.com</a></span>
            </div>

        </div>
        <div class="container">
            <div class="form-group">
                <div class="col-md-12">
                    <span class="col-md-2 col-md-offset-4 col-sd-2 col-sd-offset-4 col-xs-2 col-xs-offset-4"><a class="notextdecoration" href="#aboutMe" alt="aboutme" >ABOUT ME</a> </span>
                    <span class="col-md-2 col-sd-2"><a href="#portfolio" class="notextdecoration" alt="portfolio">PORTFOLIO</a> </span>
                </div>
            </div>
        </div>

    </div>