<div ng-controller="HomeController as vm">

    <div class="nav navbar-default">
        <div class="navbar-header">
            <button class="btn btn-primary btn-md navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <div id="nameNavBar">
                <a href="#" class="visible-md">
                    <h1>EDILSON ANDRADE</h1>
                </a>
                <a href="#" class="visible-sd">
                    <h4>EDILSON ANDRADE</h4>
                </a>
            </div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav"><a href="#">HOME</a></li>
                <li class="nav"><a href="#">ABOUT ME</a></li>
                <li class="nav"><a href="#">SERVICES</a></li>
                <li class="nav"><a href="#">MY WORK</a></li>
                <li class="nav"><a href="#">CONTACT</a></li>
                <li class="dropdown"><a href="#" data-toggle="dropdown">MORE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" tabindex="-1">GIT HUB, this code</a></li>
                    </ul>
                </li>

            </ul>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 id="whoAmI">WHO AM I</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <span>
                teste
                </span>
        </div>
    </div>


    <div class="row">
        <ul class="nav nav-tabs col-md-4 col-md-offset-5 tabWhoAmI">
            <li class="active">
                <a href="#whoTab" data-toggle="tab">
                <span id="aboutMe" class="label-control">ABOUT</span>
            </a>
            </li>
            <li>
                <a href="#skillsTab" data-toggle="tab">
                <span class="label-control">SKILLS</span>
            </a>
            </li>
            <li>
                <a href="#process" data-toggle="tab">
                <span class="label-control">PROCESS</span>
            </a>
            </li>

        </ul>
    </div>
    <div class="row">
        <div class="tab-content  col-md-6 col-md-offset-3">
            <div class="well tab-pane active" id="whoTab">
                <div class="row">
                    <div>
                        Over 16th experience...
                    </div>
                </div>
            </div>
            <div class="well tab-pane" id="skillsTab">
                <div class="row">
                    <div>
                        My skills
                    </div>
                </div>
            </div>
            <div class="well tab-pane" id="process">
                <div>
                    Process
                </div>
            </div>
        </div>
    </div>
    


</div>