html {
  height: 99%;
}
html > body {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
header {
  height: 100%;
}
div#portfolioHeader {
  height: 100%;
}
div.img-background {
  background: url("../images/myphoto.jpg");
  height: 100%;
  opacity: .3;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
div#menuHeader {
  position: relative;
  z-index: 5;
}
label.me {
  margin-top: 15%;
  font-family: "Open Sans Condensed", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 14px;
  font-weight: 400;
  color: #fff;
  font-size: 4rem;
}
label.me-small {
  letter-spacing: 11px;
  font-size: 1rem;
}
.glyphicon {
  font-size: 20px;
}
div#barraHeader a:hover {
  color: #0992bf;
}
div#barraHeader i {
  font-size: 25px;
}
.btn-toolbar > span {
  margin-left: 16px;
}
.btn-toolbar > span > a {
  text-decoration: none;
}
.container.whoAmI {
  margin-top: 60px;
}
div > div > div > span > a.notextdecoration {
  text-decoration: none;
}
div > div > div > span > a.notextdecoration :hover {
  text-decoration: none;
}
div > div > div > span > a.notextdecoration :focus {
  text-decoration: none;
}
div > div h1#whoAmI {
  margin-left: 35px;
}
div > ul.tabWhoAmI {
  margin-top: 89px;
}
.center {
  margin: 0 auto;
}
.notextdecoration :hover {
  text-decoration: none;
}
.notextdecoration :focus {
  text-decoration: none;
}
